.top-navbar {
  position: sticky;
  top: 0;
  z-index: 999;
  padding: 0.35rem 0.1rem;

  background-color: rgb(0, 0, 0);
  color: #fff;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
  gap: 1rem;
  box-sizing: border-box;
  width: 100vw;        /*  spans full width */
  background-color: black;
   
}

.top-navbar-links {
  display: flex;
  gap: clamp(0.25rem, 1.25vw, 2rem);
  flex-wrap: nowrap;
  justify-content: flex-start;
  
}

.top-navbar-link {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
 
  font-size: clamp(0.75rem, 1.8vw, 1rem);
  padding: 4px 10px;
  border-bottom: none;
  cursor: pointer;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  transition: all 0.3s ease;
}

.top-navbar-link.active {
  border-bottom: 2px solid #fff;
}

.top-navbar-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}

.logo-img {
  height: 45px;
}

.logo-text {
  font-weight: bold;
  font-size: clamp(1.1rem, 2.5vw, 1.6rem);
  color: white;
  white-space: nowrap;
}

.top-navbar-cart {
  display: flex;
  justify-content: flex-end;
  position: relative;
   gap: 1rem;
}

.cart-button {
  background-color: rgb(255, 165, 0);
  color: black;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 0px;
  font-size: clamp(0.75rem, 1.8vw, 1rem);
 
}

.cart-indicator {
  position: absolute;
  top: -5px;
  right: -5px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: red;
  margin-right: 20px;
}

@media (max-width: 768px) {
  .top-navbar {
    padding: 0.3rem 0.5rem;
    gap: 0.5rem;
    grid-template-columns: auto auto auto;
  }

  .top-navbar-links {
    gap: 0.5rem;
  }

  .top-navbar-link {
    font-size: 0.75rem;
    padding: 2px 6px;
  }

  .logo-img {
    height: 35px;
  }

  .logo-text {
    font-size: 1rem;
  }

  .top-navbar-cart {
    gap: 0.5rem;
  }

  .cart-button {
    padding: 4px 8px;
    font-size: 0.75rem;
  }


 .cart-button {
  
  margin-right: 0px;
 
  }

  .cart-indicator {
  
  margin-right: 0px;
}
}
@media (min-width: 769px) {
  .cart-button {
    margin-right: 1.5rem; 
    
  }
}